body
{
    background-color:#84e6c8
}
h1{
    text-align: center;
}
.header{
    background-color: #0c64b6;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #84e6c8;
}
.item{
    position: relative;
    
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}
.menu a{
    padding-right: 30px;
    margin-top: 30px;
}